<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css"
        integrity="sha512-i5VzKip7owqOGjb0YTF8MR2J9yBVO3FLHeazKzLp354XYTmKcqEU3UeFYUw82R8tV6JqxeATOfstCfpfPhbyEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styleSheet/cart.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

    <div id="card-element"></div>
    <div class="app">

        <div class="navdiv">
            <a class="backicon" href="/product"><i class="ri-arrow-left-line"></i></a>
            <h1>E-commerce</h1>
        </div>
        <form action="/logout" method="get">
            <button class="lgbtn">
                Log Out <i class="ri-logout-box-r-line"></i>
            </button>
        </form>

    </div>
    <div class="main">
        <div class="left">
            <% for(val of cartItems) { %>

                <div class="card">
                    <a href="/single-product/<%= val.Product.id %>" class="card-link">
                        <div class="top">
                            <img src="<%= val.Product.image %>" alt="">
                        </div>
                    </a>
                    <a href="/single-product/<%=  val.Product.id %>" class="card-link">
                        <div class="btm">
                            <h2>
                                <%= val.Product.name %>
                            </h2>
                            <h2>Rs. <%= val.Product.price %>
                            </h2>

                        </div>
                    </a>
                    <div class="atc">
                        <!-- Subtract button to decrease quantity -->
                        <button class="pm subtract" data-product-id="<%= val.Product.id %>">-</button>
                        <h5>
                            <%= val.quantity %>
                        </h5>
                        <!-- Add button to increase quantity -->
                        <button class="pm add" data-product-id="<%= val.Product.id %>">+</button>
                    </div>
                </div>
                </a>
                <% } %>
        </div>
        <div class="right">
            <h1>Invoice</h1>
            <hr>
            <div class="mainamt">
                <div class="amt">
                    <h2>Amount : </h2>
                    <h2>
                        <%= totalPrice %>.00
                    </h2>
                </div>
            </div>

            <hr>
            <div class="amt" style="margin-top: 30px;">
                <h2>Total Amount : </h2>
                <h2>
                    <%= totalPrice %>.00
                </h2>
            </div>
            <div class="atc2">
                <button id="checkout-button" class="atcbtn">
                    Buy Now
                </button>
            </div>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../js/script4.js"></script>

</body>

</html>