<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css"
        integrity="sha512-i5VzKip7owqOGjb0YTF8MR2J9yBVO3FLHeazKzLp354XYTmKcqEU3UeFYUw82R8tV6JqxeATOfstCfpfPhbyEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styleSheet/detail.css">
    
</head>

<body>
    <div class="app">

        <div class="navdiv">
            <a class="backicon" href="/product"><i class="ri-arrow-left-line"></i></a>
            <h1>E-commerce</h1>
        </div>
        <form action="/logout" method="get">
            <button class="lgbtn">
                Log Out <i class="ri-logout-box-r-line"></i>
            </button>
        </form>

    </div>
    <div class="main">
        <div class="left">
            <img src="<%= pro.image %>" alt="">
        </div>
        <div class="right">
            <div class="detail">
                <h2>
                    <%= pro.name %>
                </h2>
                <h3>Brand : <%= pro.brand %>
                </h3>
                <h4>Rating : <i class="ri-star-s-fill" style="color: rgb(254, 200, 5);"></i>
                    <%= pro.rating %>
                </h4>
                <h4>Description : <%= pro.description %>
                </h4>

                <h2>Rs. <%= pro.price %>
                </h2>

            </div>
            <div class="btn">
                <button class="atcbtn" data-id="<%= pro.id %>">
                    Add 
                </button>
            </div>
        </div>
    </div>

    <script src="../js/script3.js"></script>
</body>

</html>