<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css" integrity="sha512-i5VzKip7owqOGjb0YTF8MR2J9yBVO3FLHeazKzLp354XYTmKcqEU3UeFYUw82R8tV6JqxeATOfstCfpfPhbyEA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styleSheet/product.css">
</head>
<body>
    <div class="app">
        <h1>E-commerce</h1>
        <form action="/search-product" method="get" class="search-form">
            <input type="text" name="name" placeholder="Search by name", class="searchInput">
            <button type="submit" class="lgbtn">Search</button>
        </form>
        <div class="navdiv">
            
            <div class="cartdiv">
                <% if (ccount > 0) { %>
                    <h4 id="cartCount"><%= ccount %></h4>
                <% } %>
            <a class="carticon" href="/cart"><i class="ri-shopping-cart-2-line"></i></a>
            </div>
            <form action="/logout" method="get">
                <button class="lgbtn">
                    Log Out <i class="ri-logout-box-r-line"></i>
                 </button>
            </form>
        </div>
        
        
    </div>
    <div class="main">

        

        <% for(data of products) { %>
            
        <div class="card">
            <a href="/single-product/<%= data.id %>" class="card-link">
            <div class="top">
                <img src="<%= data.image %>" alt="">
            </div>
            </a>
            <a href="/single-product/<%= data.id %>" class="card-link">
            <div class="btm">
                    <h2><%= data.name %></h2>
                    <h2>Rs. <%= data.price %></h2>
                    <h3><i class="ri-star-s-fill" style="color: rgb(254, 200, 5);"></i> <%= data.rating %></h3>
            </div>
            </a>
            <div class="atc">
                    <button class="atcbtn" data-id="<%= data.id %>">
                        Add 
                    </button>
                
            </div>
        </div>
    </a>
        <% } %>


        
    </div>
    <div class="pageDiv">
        <div class="pagination">
            <% if (currentPage > 1) { %>
              <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
            <% } %>
      
            <% 
              let startPage = Math.max(1, currentPage - 2);
              let endPage = Math.min(totalPages, startPage + 4);
      
              if (endPage - startPage < 4) {
                startPage = Math.max(1, endPage - 4);
              }
      
              for (let i = startPage; i <= endPage; i++) { 
            %>
              <a href="?page=<%= i %>&limit=<%= limit %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
            <% } %>
      
            <% if (currentPage < totalPages) { %>
              <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
            <% } %>
          </div>
    </div>
    

    <script src="../js/script3.js"></script>
</body>
</html>

